@-moz-document domain("stackoverflow.com"), domain("stackexchange.com"),
domain("serverfault.com"), domain("superuser.com"), domain("stackapps.com"),
domain("mathoverflow.net"), domain("askubuntu.com") {
  /*! StackExchange Sticky Header v1.0.3 (2017-09-20) *//*
   * https://github.com/StylishThemes/StackExchange-Sticky-Header
   * https://userstyles.org/styles/136521
   * License: https://creativecommons.org/licenses/by-sa/4.0/
   */
  .topbar, .top-bar {
    position: fixed !important;
    z-index: 1050 !important;
  }
  .container {
    padding-top: 34px !important;
  }
  .review-bar.sticky, .review-bar {
    top: 34px !important;
    margin-top: 0 !important;
  }
}

/* SO now has a built-in sticky header */
@-moz-document domain("stackoverflow.com") {
  .container {
    padding-top: 0 !important;
  }
  .review-bar[style*="position: fixed"], .review-bar {
    top: 60px !important;
    margin-top: 0 !important;
  }
}
